<h1>Attribute#list</h1>
<p>Find me in app/views/attribute/list.html.erb</p>

<% @list_items.items.each do |item| %>
Name <%= item.name %>
<br />
<% item.attributes.each do |att| %>
<%= att.name.to_s %> - <%= att.value.to_s %> 
<br />
<% end %>

<% end %>

<h1><%= @domain_name %> </h1>
<% if @list_items.items.size != 0 %>
<table border="1">
	<thead>
		<tr>
			<th>Item Name</th>
			<% @all_attributes_names.each do |att_name| %>
			<th><%= att_name %></th>
			<% end -%>
		</tr>
	</thead>
	<tbody>
		<% @item_obj_array.each do |item_obj| %>
		<tr>
			<td><%= item_obj.item_name %> </td>
			<% @all_attributes_names.each do |att_name| %>
			<td><%= simple_format (h item_obj.attributes_hash[att_name.intern]) %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
<%= form_tag({controller: :attribute, action: :list}, method: "get") do %>
<%= label_tag(:max_number_of_items, "Max number of item:") %>
<%= text_field_tag(:max_number_of_items) %>
<%= text_field_tag :next_page_token, @next_page_token %>
<%= submit_tag("Submit") %>
<% end %>
<% else %>
No Item
	
<% end -%> <!--  end of @list_items.items.size != 0-->

<script type="text/javascript">	


</script>


