<div class="jumbotron">
        <h1>Welcome <small>Yang's SimpleDB Web App</small></h1>
        <p>This is a project for UCD COMP41110 Cloud Computing. The project uses Ruby on Rails framework and AWS SimpleDB API. The UI is done with Bootstrap</p>
        <p>Why not check out the source code from my github page <a href="https://github.com/s27y">s27y</a></p>
      </div>

<ol class="breadcrumb">
  <li class="active"><%= link_to "Home", controller: :home, action: :index %></li>
</ol>





<% flash.each do |name, msg| -%>
	<%= content_tag :div, msg, class: name %>
<% end -%>

<%= form_tag({controller: "credential", action: "add"}, method: "post") do %>
<%= label_tag(:aws_key_id, "AWSAccessKeyId:") %>
<%= text_field_tag(:aws_key_id,  "") %>
<%= label_tag(:aws_key, "AWSSecretKey:") %>
<%= text_field_tag(:aws_key,  "") %>

<%= submit_tag("Add AWS Credential") %>
<% end %>

