<h1>Domain#list</h1>
<p>Find me in app/views/domain/list.html.erb</p>

<%= form_tag({controller: :domain, action: :list}, method: :post) do %>
  <%= label_tag(:max_number_of_domains, "Max Number Of Domain:") %>
  <%= number_field_tag(:max_number_of_domains, @max_number_of_domains, in: 1...11) %>
  <%= submit_tag("Show Domain") %>
<% end %>
<table class="table table-striped">
 <tr>
 	<th>Domain</th>
 	<th>..</th>
 	<th>..</th>
</tr>
<% if @domains.next_token %>
	<%= @domains_next_page %>
	<%= form_tag({controller: "domain", action: "list"}, method: "post") do %>
  	<%= hidden_field_tag(:next_page_token,  @domains.next_token) %>
  	<%= hidden_field_tag(:max_number_of_domains,  @max_number_of_domains) %>
  	<%= submit_tag("next") %>
  	<% end %>
<% end %>

<%  @domains.domain_names.each do |name| %>
<tr><td><%=name %>  
<%=h link_to name, :controller=>:domain, :action=> :metadata, :domain_name => name  %>
</td>
	<td><%=name %>  </td>
	<td>
	</td>
</tr>
<% end %>
</table> 

