<!DOCTYPE html>
<html>
<head>
	<title>SimpleDbApp</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<%= csrf_meta_tags %>
</head>
<body>


	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to "SimpleDB", {controller: :home, action: :index}, class: "navbar-brand" %>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li ><%= link_to "Domain", controller: :domain, action: :list %></li>

				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Credential <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<%= form_tag({controller: "credential", action: "add"}, method: "post") do %>
							<li><%= label_tag(:aws_key_id, "AWSAccessKeyId:") %></li>
							<li><%= text_field_tag(:aws_key_id,  "AKIAI5ZU5RPLSMHROXNQ") %></li>
							<li><%= label_tag(:aws_key, "AWSSecretKey:") %></li>
							<li><%= text_field_tag(:aws_key,  "A2LYL7gqQCLCnmNSq/kh8sg274vgVieBNff3NNSJ") %></li>

							<li><%= submit_tag("Add AWS Credential") %></li>
							<% end %>
							<li class="divider"></li>
							<li><%= link_to "Remove Credential", controller: :credential, action: :remove %></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container-fluid">
		<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
		<%= yield %>
	</div>
</body>
</html>
